@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  20%, 60% {
    transform: translate3d(-5px, 0, 0);
  }

  40%, 80%{
    transform: translate3d(5px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}