color-bg = #F1F1F1
color-card = #FFF
color-font = #FFF

color-main = rgb(170, 150, 218)
color-light = rgba(170, 150, 218, 0.7)
color-dark = rgb(150, 130, 198)

color-error = red

@require './framework/*'
@require './animation/*'

$material
	padding 1em
	margin 1em
	box-shadow 0 5px 0px color-light
	background-color color-card
	border-radius 4px

.textInfo
	opacity 0.5
	font-style italic
	
#load
	position absolute
	z-index 1
	width 100%
	height 100%
	background-color white
	opacity 1
#load.done
	transition opacity 0.5s ease
	opacity 0

body
	background-color color-bg

.commentBox
	@extends .row

.commentList
	@extends .col-xs-12, .col-sm-8
	overflow-wrap break-word
	flex: 1
	.commentListContent
		@extend .row
		flex-direction column-reverse
	.commentListFooter
		@extends .row
		span
			@extends .textInfo
			display block
			text-align center
			width 100%
		.commentLoadMore
			@extends .button.button-primary
			display block
			margin 1em
			width 100%
			&:hover
				@extends .button.button-primary:hover

.commentForm
	@extends .col-xs-12, .col-sm-4
	align-self flex-start

.commentFormContent
	@extends $material
	input, textarea
		width 100%
		max-width 100%
	.managedInput input, .managedInput textarea
		margin-bottom 0
	input[type=submit]
		@extends .button.button-primary
		margin-top 1em
	input[type=submit]:hover
		@extends .button.button-primary:hover
	.current-char 
		@extends .textInfo
		text-align right
	.current-char.max
		opacity 0.8
		color color-error

.comment
	@extends $material
	word-break break-all
	margin-top 0
	margin-bottom 2em
	.commentAuthor
		span.firstLetter
			color color-dark
			text-transform uppercase
	.commentContent
		white-space pre-wrap
	.commentIndex
		@extends .textInfo
		float right
	
.commentListTitle, .commentFormTitle
	text-align center
	
.commentTime
	@extends .textInfo
	
.commentClose
	color black
	float right
	font-size 2em
	cursor pointer
	opacity 0.2
	transition opacity 0.3s ease, color 0.3s ease
	&:hover
		opacity 0.5
		color color-error

.commentClose.active
	opacity 0.4